.imahe{
	height:50px; width:50px; float:left; margin-top:5%; margin-right:-10%;
}

.svla{
	color:white;
}

.upcoming {
	background-color: #3b5998;
	
}

.latest-news{
	background-color: #3b5998;
}

.latest-news:hover{
	background-color: #3b5998;
}